<h1>Welcome to Send Email w/ Rails 7 App!</h1>
<h3>Instructions</h3>
<h4>. Click Sign Up and Fill out the form;</h4>
<h4>. Enter a VALID EMAIL ADDRESS, please;</h4>
<h4>. An email will be sent to this address containing a confirmation link.</h4>
<%= button_to("Sign Up", '/signup',   method: :get) %>
<h6>Thank you for use thhs app!</h6>